@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	background: url(../img/jokercard.jpg) no-repeat center center fixed;
	width: 100%;
	height: auto;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6, 
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Raleway";
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

main {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


h1 {
	color: coral;
	text-align: center;
	font-size: 2rem;
}

a {
	color: white;
	text-align: center;
	font-size: 2rem;
	text-decoration: none;
}


 a:hover {
	color: green;
	text-decoration: none;
}

.movieMenu {
	margin: 0 0 15px 0;
}

.settings {
	
}

.movieForm {
	margin: 70px 0 0 0;

}
.editMovie {
	margin: 70px 0 0 0;
}

.sectionSORT {
	margin: 70px 0 0 0;
}

.h1-color {
	color: green;
	text-decoration: none;
	margin: 0 0 70px 0;
}

.pt-15{
	padding-top: 15px !important;
	

}

.sectionSORT label {
	color: white;
}

h2 {
	text-align: center;
	color: white;
	margin: 2rem 0 0 0;
}

h4 {
	color: black;
}

.flexAllForms {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexAllForms label {
	color: red;
}

.movieList {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#movieUL {

}

.movieDIV {
	height: auto;
	width: 15rem;
	margin: 0.5rem 5px 35px 0;
	display: inline-block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    margin-right: 40px;
}

.movieDIV p {
	color: black;
	font-size: 1rem;
	overflow-wrap: break-word;
}

.movieDIV h6 {
	color: red;
}

.movieDIV img {

}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}







